.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    min-height: 75px;
    width: 100%;
    padding: 25px 35px;
    background: rgba(180,180,181,255);
}

.header__name {
    flex:1;
    display: flex;
    padding: 4px 10px;
    align-items: flex-end;
}

nav {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

li {
    list-style: none;
}

.header__list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 35vw;
    justify-content: space-around;
    padding: 4px 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
   

}

nav a:hover {
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
    
}

nav a:active {
    color: green;
    transition: 0.5s;
}

@media (max-width: 872px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items:center;
        min-width: 100%;
    }

    nav {
        display: flex;
        flex-direction: row;
        min-width: 100%;
        justify-content: center;
    }

    .header__list {
        min-width: 100%;
    }
}
 
@media (max-width:563px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1px 3px;
    }
    .header__logo {
        display: none;
    }

    .header__list__items {
        font-size: 16px;
    }
    
}